## IRC Technical Assessment


Answer the following questions below.  You can find the datasets to load in the `/data` folder.

### 1. What are the top five organizations by revenue in 2021?

In [2]:
conn = psycopg2.connect(dbname="irc", user="brianrennie", password="brianrennie")

cursor = conn.cursor()

cursor.execute('''SELECT account_id,close_date, SUM(amount) as total_amount
                    FROM donations 
                    WHERE account_id in (
                                         SELECT account_id
                                             FROM accounts
                                             WHERE account_type = 'organization'
                                        )
                    AND is_revenue = 'True'
                    GROUP BY 1,2
                    HAVING EXTRACT(YEAR FROM close_date) = 2021  
                    ORDER BY total_amount DESC limit 5;''')
result = cursor.fetchall()
result

[('0xAB7B829B9A1721326A19A7131A2659CC',
  datetime.date(2021, 4, 20),
  '$5,150.00'),
 ('0xD34FE50ED1B96D1C9D2308CD86F13530',
  datetime.date(2021, 12, 22),
  '$2,000.00'),
 ('0xCDC0C56B05B4D5743761F0085F0C7884',
  datetime.date(2021, 9, 15),
  '$1,025.00'),
 ('0xD34FE50ED1B96D1C9D2308CD86F13530', datetime.date(2021, 5, 15), '$200.00'),
 ('0x9BA80C6C39CB9080B63F9A4E14E56174', datetime.date(2021, 9, 15), '$175.00')]

### 2. Create an account-level table with aggregate measures of revenue in past week, past month, past year, and all time.

In [2]:
# conn = psycopg2.connect(dbname="irc", user="brianrennie", password="brianrennie")

# cursor = conn.cursor()

# cursor.execute('''WITH last_week_revenue as
#                   (
#                   SELECT account_id, close_date, amount, SUM(amount) OVER (PARTITION BY account_id order by close_date) as total_week_revenue
#                     FROM donations 
#                     WHERE DATE_PART('week', close_date) = 41.0
#                     AND is_revenue = 'True'
#                     ),

#                     total_week_revenue as
#                     (
#                     SELECT account_id, MAX(lwr.total_week_revenue) as last_week_revenue FROM last_week_revenue lwr group by 1
#                     ),

#                     last_month_revenue as
#                     (
#                       SELECT account_id, close_date, amount, SUM(amount) OVER (partition by account_id ORDER BY close_date) as total_month_revenue
#                     FROM donations
#                     WHERE DATE_PART('month', close_date) = 9
#                     AND is_revenue = 'True'
#                     ),

#                     total_month_revenue as
#                     (
#                     SELECT account_id, MAX(lmr.total_month_revenue) last_month_revenue FROM last_month_revenue lmr group by 1
#                     ),

#                     last_year_revenue as
#                     (
#                       SELECT account_id, close_date, amount, SUM(amount) OVER (partition by account_id ORDER BY close_date) as total_year_revenue
#                     FROM donations
#                     WHERE DATE_PART('year', close_date) = 2021
#                     AND is_revenue = 'True'
#                     ),

#                     total_year_revenue as
#                     (
#                     SELECT account_id, MAX(lyr.total_year_revenue) last_year_revenue FROM last_year_revenue lyr group by 1
#                     ),

#                     all_time_revenue as
#                     (
#                       SELECT account_id, close_date, amount, SUM(amount) OVER (partition by account_id ORDER BY close_date) as all_time_revenue
#                     FROM donations
#                     WHERE is_revenue = 'True'
                    
#                     ),

#                     total_all_time_revenue as
#                     (
#                     SELECT account_id, MAX(atr.all_time_revenue) all_time_revenue FROM all_time_revenue atr group by 1
#                     )

#                     SELECT atr.account_id, 
#                            last_week_revenue, 
#                            last_month_revenue, 
#                            last_year_revenue, 
#                            all_time_revenue  
#                     FROM total_all_time_revenue atr
#                     LEFT JOIN total_week_revenue twr 
#                     ON twr.account_id = atr.account_id
#                     JOIN total_month_revenue tmr
#                     ON  tmr.account_id = atr.account_id
#                     JOIN total_year_revenue tyr
#                     ON tyr.account_id = atr.account_id



                    
# ''')
# result = cursor.fetchall()
# result

### 3. What is the average first donation of new donors for each billing country?

In [6]:
conn = psycopg2.connect(dbname="irc", user="brianrennie", password="brianrennie")

cursor = conn.cursor()

cursor.execute('''with numbered_donations as
                (
                SELECT a.account_id as account,
                       billing_country,
                       close_date,
                       amount::numeric as amount,
                       ROW_NUMBER () OVER (PARTITION BY a.account_id ORDER BY close_date) as donation_number
                       FROM accounts a
                       JOIN donations d 
                       ON a.account_id = d.account_id
                       WHERE d.is_revenue = 'False'          
                ),
                first_donations as 
                (
                SELECT account,
                       billing_country,
                       close_date,
                       amount,
                       donation_number
                FROM numbered_donations
                WHERE donation_number = 1
                )     
                SELECT billing_country, AVG(ROUND(amount,2)) from first_donations GROUP BY 1''')
result = cursor.fetchall()
result

[('Germany', Decimal('46.2875000000000000')),
 ('United Kingdom', Decimal('39.9500000000000000')),
 ('United States', Decimal('59.9778528528528529'))]